body{
    margin: 0px;
    background-image: url("../images/backdrop2.jpg");
    background-size: 2000px;

}
#titlewrapper{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#title{
    width: 500px;
}

#main{
    height: 500px;
    background-color: white;
    border-top: solid 12px #651B1B;
    border-bottom: solid 12px #651B1B;
    margin-bottom: 80px;
}

#imgwrapper{
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#btnswrapper{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logo{
    width: 250px;
}

#yes{
    padding: 10px;
    border-radius: 20px;
    background-color: #4C6758;
    border: double 8px #2a4738;
    font-weight: bold;
    color: whitesmoke;
}
#no{
    padding: 10px;
    border-radius: 20px;
    border: double 8px #45090D;
    background-color: #651B1B;
    font-weight: bold;
    color: whitesmoke;
}
#crushOn{
    padding: 10px;
    border-radius: 20px;
    border: double 8px #B29349;
    background-color: #D4B56B;
    font-weight: bold;

}
#crushIt{
    padding: 10px;
    border-radius: 20px;
    border: double 8px #B29349;
    background-color: #D4B56B;
    font-weight: bold;
}

footer{
    height: 20px;
    margin-top: 0px;
    color: black;
    float: right;
}
.link{
    border-radius: 15px;
    border: double 8px rgba(0,0,0,.2);
    background-color: #D4B56B;
    font-weight: bold;
    padding: 0px 25px;
    margin-bottom: 8px;
    margin-left: 10px;
    color: rgba(0,0,0,.5);
    display: inline;
}
a{
    text-decoration: none;
}
