body{
    margin: 0px;
    background-image: url("../images/backdrop2.jpg");
    background-size: 2000px;
    background-position:center;
}
header{
    height: 100px;
    background-color: white;
    border-top: solid 12px #651B1B;
    border-bottom: solid 12px #651B1B;
    margin-bottom: 80px;

}
#heart{
    height: 100px;
    margin-left: 50px;
    float: left;
}

#membername{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#main{
    height: 400px;
    background-color: white;
    border-top: solid 12px #651B1B;
    border-bottom: solid 12px #651B1B;
    margin-bottom: 80px;
}

.filewrap{
    margin-top:     30px;
    margin-left:    35px;
    float:          left;
}

.dispimg{
    margin-top: 30px;
    margin-right: 35px;
    width: auto;
    float: right;
}

li{
    list-style-type: none;
    float: right;
    text-align: right;
    width: 550px;

}

ul{
    display: inline;
    padding: 0px;
}
.percent{
    margin-right: 55px;
    margin-left: 5px;

}

#buttonwrap{
    text-align: center;
    margin: 35px;
}

#clear{
    clear: both;
}


footer{
    height: 20px;
    margin-top: 0px;
    color: black;
    float: right;
}
.link{
    border-radius: 15px;
    border: solid 6px rgba(200,200,200,.2);
    background-color: #4C6758;
    font-weight: bold;
    padding: 5px 15px;
    margin-bottom: 8px;
    color: whitesmoke;
}
a{
    text-decoration: none;
}

